
*.exe
AutoTracker/bin/Debug/AutoTracker.exe.config
AutoTracker/bin/Debug/AutoTracker.pdb
AutoTracker/bin/Release/AutoTracker.exe.config
AutoTracker/bin/Release/AutoTracker.pdb
AutoTracker/bin/x86/Debug/AutoTracker.exe.config
AutoTracker/bin/x86/Debug/AutoTracker.pdb
AutoTracker/bin/x86/Release/AutoTracker.exe.config
AutoTracker/bin/x86/Release/AutoTracker.exe.config
AutoTracker/bin/x86/Release/AutoTracker.pdb
AutoTracker/obj/Debug/App.baml
AutoTracker/obj/Debug/App.g.cs
AutoTracker/obj/Debug/App.g.i.cs
AutoTracker/obj/Debug/AutoTracker.csproj.CoreCompileInputs.cache
AutoTracker/obj/Debug/AutoTracker.csproj.FileListAbsolute.txt
AutoTracker/obj/Debug/AutoTracker.csproj.GenerateResource.cache
AutoTracker/obj/Debug/AutoTracker.csprojAssemblyReference.cache
AutoTracker/obj/Debug/AutoTracker.g.resources
AutoTracker/obj/Debug/AutoTracker.pdb
AutoTracker/obj/Debug/AutoTracker.Properties.Resources.resources
AutoTracker/obj/Debug/AutoTracker_Content.g.i.cs
AutoTracker/obj/Debug/AutoTracker_MarkupCompile.cache
AutoTracker/obj/Debug/AutoTracker_MarkupCompile.i.cache
AutoTracker/obj/Debug/AutoTracker_MarkupCompile.lref
AutoTracker/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AutoTracker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTracker/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
AutoTracker/obj/Debug/MainWindow.baml
AutoTracker/obj/Debug/MainWindow.g.cs
AutoTracker/obj/Debug/MainWindow.g.i.cs
AutoTracker/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTracker/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTracker/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTracker/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
AutoTracker/obj/Release/App.baml
AutoTracker/obj/Release/App.g.cs
AutoTracker/obj/Release/App.g.i.cs
AutoTracker/obj/Release/AutoTracker.csproj.CoreCompileInputs.cache
AutoTracker/obj/Release/AutoTracker.csproj.FileListAbsolute.txt
AutoTracker/obj/Release/AutoTracker.csproj.GenerateResource.cache
AutoTracker/obj/Release/AutoTracker.csprojAssemblyReference.cache
AutoTracker/obj/Release/AutoTracker.g.resources
AutoTracker/obj/Release/AutoTracker.pdb
AutoTracker/obj/Release/AutoTracker.Properties.Resources.resources
AutoTracker/obj/Release/AutoTracker_Content.g.i.cs
AutoTracker/obj/Release/AutoTracker_MarkupCompile.cache
AutoTracker/obj/Release/AutoTracker_MarkupCompile.i.cache
AutoTracker/obj/Release/AutoTracker_MarkupCompile.lref
AutoTracker/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
AutoTracker/obj/Release/MainWindow.baml
AutoTracker/obj/Release/MainWindow.g.cs
AutoTracker/obj/Release/MainWindow.g.i.cs
AutoTracker/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTracker/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTracker/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTracker/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
AutoTracker/obj/x86/Debug/AutoTracker.csproj.CoreCompileInputs.cache
AutoTracker/obj/x86/Debug/AutoTracker.csproj.FileListAbsolute.txt
AutoTracker/obj/x86/Debug/AutoTracker.csprojAssemblyReference.cache
AutoTracker/obj/x86/Debug/AutoTracker.pdb
AutoTracker/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTracker/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTracker/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTracker/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTracker/obj/x86/Release/AutoTracker.csproj.CoreCompileInputs.cache
AutoTracker/obj/x86/Release/AutoTracker.csproj.FileListAbsolute.txt
AutoTracker/obj/x86/Release/AutoTracker.pdb
AutoTracker/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
AutoTracker/obj/x86/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTracker/obj/x86/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTracker/obj/x86/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTracker/Program.cs
AutoTracker/Properties/AssemblyInfo.cs
AutoTracker/Properties/Resources.Designer.cs
AutoTracker/Properties/Resources.resx
AutoTracker/Properties/Settings.Designer.cs
AutoTracker/Properties/Settings.settings
